html, body {
    height: 100%;
}

body {
    display: flex;                
    justify-content: center;       
    align-items: center;      
    margin: 0;
    background-image: url('bg.png');
    background-position: center center; 
    background-repeat: no-repeat;       
    background-size: cover; 
    font-family: "Nunito", sans-serif;
    color: rgb(140, 120, 156);
}

p {
    color: rgb(140, 120, 156);
}

h2 {
    color: rgb(140, 120, 156);
}

  .scene-wrapper {
    width: 600px;            
    height: 600px;           
    border-radius: 22%;      
    overflow: hidden;        
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    background: #ddd;        
    position: relative;
  }
  
  #webgl-canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .layout {
    display: flex;
    align-items: center;   
    gap: 48px;             
  }

  .instructions {
    max-width: 500px;
    align-content: center;
  }
  
  .instructions p {
    margin: 0;
    color: rgb(140, 120, 156);  
    font-size: 16px;
    line-height: 1.5;
  }